body {
	margin: 0;
	padding: 0;
	background: #efeee7;
	color: #333;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	line-height: 150%;
	display: block;
}

header {
	display: block;
	background: #333333;
}
.container {
	width: 1024px;
	margin: 0 auto;
}
h1 {
	padding: 20px 0;
	color: #eee;
	font-size: 28px;
	margin: 0;
	margin-bottom: 20px;
	text-align: center;
}

h2 {
	font-size: 24px;
}

#main-bio {
	width: 70%;
}

#main-bio,
#bio-image,
#contact-info {
	float: left;
}
#bio-image {
	width: 200px;
	height: 200px;
	margin-right: 20px;
}

#contact-info {
	width: 30%;
}

section {
	display: block;
}
