body {
	color: #efeee7;
	font-family: Georgia, "Times New Roman", Times, serif;
	margin: 0;
	padding: 0;
}

header {
	color: #333333;
}

h1 {
	color: #eee;
	font-size: 28px;
}

h1 {
	color: #eee;
	font-size: 24px;
}

.container {
	width: 1024;
	margin: 0 auto;
}

#id,
#bio-image,
#contact-info {
	float: left;
}
#bio-image {
	width: 200px;
}
